@media screen and (min-width: 960px) {  
     #search_box img{
     	display: none;
     }
}
*{
	list-style: none;
	padding: 0px;
}
body{
	background: #ebeff2;
}
.bg-primary{
	background-color: #436BA4!important;
}
#search_box{
	height: 300px;
	text-align: center;
	position: relative;
	/*background: linear-gradient(#96a7d5,#436BA4);*/
	background-image: linear-gradient(to top, #f68084 0%, #436BA4 100%);
}
#search_box h2{
	font-size: 28px;
	font-weight: 200;
	color: white;
	width: 240px; height: 400px;
    position: absolute; 
    left: 50%; 
    top: 50%;
    margin-top: -100px;    /* 高度的一半 */
    margin-left: -120px;    /* 宽度的一半 */
}
#search_box input{
	margin: 100px auto;
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 50px;
	/*background: #436ba4;*/
	background: white;
	text-indent: 1em;
	font-size: 16px;
	color: rgba(0,0,0,.6);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	position: relative;
	
}
#search_box img{
	position: absolute;
	width: 20px;
	right: 20px;
	top: 114px;
	right: 30px;
}
#search_box input:focus{
    outline: none;
    box-shadow:0px 0px 30px rgba(255,255,255,0.4);
    outline: none;
}
#search_box input:hover{
    /*box-shadow:0px 10px 30px rgba(67,107,164,0.8);*/
    box-shadow:0px 0px 30px rgba(255,255,255,0.4);
    outline: none;
}
input:-moz-placeholder,textarea:-moz-placeholder{
/*color: rgba(255,255,255,.6);*/
color: rgba(0,0,0,.6);
font-size: 16px;
overflow: hidden;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
/*color: rgba(255,255,255,.6);*/
color: rgba(0,0,0,.6);
font-size: 16px;
overflow: hidden;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
/*color: rgba(255,255,255,.6);*/
color: rgba(0,0,0,.6);
font-size: 16px;
overflow: hidden;
}
#hot_search_content{
	transform: translateY(-121px);
}
#hot_search_title{
	text-align: center;
	/*color: #d81e06;*/
	color: white;
	font-style: italic;
	font-weight: 900;
	margin: 20px auto;
	text-shadow: -2px 0px 0px #e94f37,2px 0px 0px blue;
}
.list-group{
	/*background: rgba(255,255,255,0.8);*/
}
.list-group-item{
	background: rgba(255,255,255,0.8);
	border: none;
}
.list-group-item.active:not(span){
	background: #9dafdf;
	border: #9dafdf;
	text-align: center;
	text-shadow: 0px 1px 1px #436BA4;
	color: white;
}
.list-group-item span{
	font-style: italic;
	color: black;
	margin-right: 20px;
	margin-left: 10px;
}
.list-group-item:nth-child(-n+4) span{
	font-style: italic;
	font-weight: bold;
	color: #e51c23;
	margin-right: 20px;
}
.list-group-item:nth-child(2) img{
	position: absolute;
	right: 20px;
	top: 15px;
	width: 16px;
}
.list-group-item.active span{
	font-style: italic;
	font-weight:500;
	color: #4769c7;
}
.list-group-item span{
	font-style: italic;
	font-weight:100;
	color: #ff5722;
	margin-right: 20px;
}

.list-group-item:first-child{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}
.list-group-item:last-child{
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
